<md-card class="app-card card-basic">
  <md-toolbar color="primary">{{pageTitle}}</md-toolbar>
  <md-card-content>
    <md-progress-spinner mode="indeterminate" color="warn" *ngIf="isLoading"></md-progress-spinner>
    
    <form [formGroup]="ticketStatusForm" novalidate>
      <div *ngIf="!isLoading">

        <table style="width: 100%" cellspacing="0">
          <tr>
            <td colspan="2">
              <md-input class="control-full-width" placeholder="Status" formControlName="name" 
                dividerColor="{{ !ticketStatusForm.get('name').valid ? 'warn' : 'primary' }}" 
                style="width: 100%">
                <md-hint *ngIf="displayMessage.name" [ngStyle]="{'color': 'red'}" align="start">{{displayMessage.name}}</md-hint>
              </md-input>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;
            </td>
          </tr>
          <tr>
            <td>
              <md-select  placeholder="Sort Order" formControlName="sortOrder">
                <md-option *ngFor="let order of SortOrders" [value]="order">
                  {{order}}
                </md-option>
              </md-select>
              <span [ngStyle]="{'color': 'red'}" *ngIf="displayMessage.sortOrder">
                      {{displayMessage.sortOrder}}
              </span>
            </td>
            <td>
              <md-checkbox formControlName="isDefault">Is Default</md-checkbox>
            </td>
          </tr>
        </table>
      </div>
    </form>
    
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" *ngIf="!isLoading" [disabled]='!ticketStatusForm.valid || isSaving' (click)="save()" aria-label="Show an example snack-bar">
      Save
    </button>
    <button md-raised-button color="accent" *ngIf="!isLoading && this.ticketStatus.id > 0" [disabled]='isSaving'  (click)="delete()" aria-label="Show an example snack-bar">
      Delete
    </button>
    <button md-raised-button (click)="onBack()">
        <i class="glyphicon glyphicon-chevron-left"></i> Back
    </button>
  </md-card-actions>
  <md-card-footer>
    <md-card class="error-card" *ngIf="errorMessage">
        <md-card-content>
          <md-icon class="error-icon">report_problem</md-icon>
          <span class="error-msg">{{errorMessage }}</span>
        </md-card-content>
      </md-card>
    <md-progress-bar mode="indeterminate" *ngIf="isLoading || isSaving"></md-progress-bar>
    
  </md-card-footer>
</md-card>