md-progress-spinner{
    margin: 0 auto;
    height: 40px;
    width: 40px;
}

.error-card {    
    color: red;
    border: solid 1px red;
    background-color: lavenderblush;
}

.error-icon {
  font-size: large;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.addStatus{
    width: auto;
}