<div class="containerX">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
    <div fxFlex>
      <md-card class="app-card card-basic">
        <md-toolbar color="primary">{{pageTitle}}
          <span class="app-toolbar-filler"></span>
          <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon class="md-12">more</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item (click)="isDarkTheme = !isDarkTheme">
              <md-icon>attachment</md-icon>
              <span>Attachment</span>
            </button>
            <button md-menu-item>
                <md-icon>email</md-icon>
                <span>email</span>
            </button>
            <md-slide-toggle class="example-margin">
              Subscribe
            </md-slide-toggle>
          </md-menu>
        </md-toolbar>
        <md-card-content>
          <p>
            <md-input class="demo-full-width" placeholder="Organization" disabled value="IT (e-Connectivity)">
            </md-input>
          </p>
          <p>
            <md-input placeholder="Description" [(ngModel)]="ticket.description" style="width: 100%"></md-input>
          </p>
          <p>
            <md-input placeholder="Application URL" [(ngModel)]="ticket.applicationURL" style="width: 100%">
            </md-input>
          </p>
          <div class="containerX">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
              <div fxFlex>
                <p fxLayout="column" fxLayoutAlign="start stretch">
                  <md-select placeholder="Project" [(ngModel)]="ticket.projectId">
                    <md-option *ngFor="let project of projects" [value]="project.id">
                      {{project.name}}
                    </md-option>
                  </md-select>
                </p>
              </div>
              <div fxFlex>
                <p fxLayout="column" fxLayoutAlign="end stretch">
                  <md-select placeholder="Category" [(ngModel)]="ticket.categoryId">
                    <md-option *ngFor="let category of categories" [value]="category.id">
                      {{category.name}}
                    </md-option>
                  </md-select>
                </p>
              </div>
            </div>
          </div>

          <div class="containerX">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
              <div fxFlex>
                <p fxLayout="column" fxLayoutAlign="start stretch">
                  <md-select placeholder="Priority" [(ngModel)]="ticket.priorityId">
                    <md-option *ngFor="let priority of priorities" [(value)]="priority.id">
                      {{priority.name}}
                    </md-option>
                  </md-select>
                </p>
              </div>
              <div fxFlex>
                <p fxLayout="column" fxLayoutAlign="end stretch">
                  <md-select placeholder="Status" [(ngModel)]="ticket.statusId">
                    <md-option *ngFor="let status of statuses" [value]="status.id">
                      {{status.name}}
                    </md-option>
                  </md-select>
                </p>
              </div>
            </div>
          </div>


          <div class="containerX">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
              <div fxFlex>
                <md-input class="demo-full-width" placeholder="Requested By" disabled [(ngModel)]="ticket.reportedUserName">
                </md-input>
              </div>
              <div fxFlex>
                <md-input class="demo-full-width" placeholder="Requested Date" disabled [(ngModel)]="ticket.reportedDate">
                </md-input>
              </div>
            </div>
          </div>

          
        </md-card-content>
         <md-card-actions align="end">
          <button md-raised-button color="primary" (click)="save()" aria-label="Save Comment">
            <md-icon>check</md-icon>
          </button>
          <button md-raised-button (click)="onBack()">
            <md-icon>keyboard_backspace</md-icon>
          </button>
        </md-card-actions>
        <md-card-footer>
          <md-progress-bar mode="indeterminate" *ngIf="isLoading || isSaving"></md-progress-bar>
        </md-card-footer>
      </md-card>

      <md-card class="app-card card-basic">
        <md-toolbar color="primary">Add Comment</md-toolbar>
        <md-card-content>
            <p>
              <md-textarea class="demo-full-width" placeholder="Comment" style="width: 100%" rows="5" maxlength="1000"></md-textarea>
            </p>
        </md-card-content>
        <md-card-actions align="end">
          <button md-raised-button color="primary" (click)="addComment()" aria-label="Save Comment">
            <md-icon>add</md-icon>
          </button>
        </md-card-actions>
        <md-card-footer>
          <md-progress-bar mode="indeterminate" *ngIf="isLoading || isSaving"></md-progress-bar>
        </md-card-footer>
      </md-card>

    </div>
    <div fxFlex>
      <md-toolbar class="toolbar-comment" color="primary">Comments</md-toolbar>
      <md-card class="app-card card-basic card-comment" *ngFor="let post of ticket.posts">
        <md-card-content class="content-comment">
            <div fxLayout="column" fxLayoutAlign="start stretch" > 
              <md-card-subtitle fxFlex color="accent" class="toolbar-comment-header">
                  <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <span class="username">{{post.userName}}</span>
                    <span class="date">{{post.postDate}}</span>
                  </div>
              </md-card-subtitle>
              <span>{{post.comment}}</span>
            </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <message-card [data]="message" *ngIf="isError"></message-card>