div.container
{
    display: flex;
    // margin-bottom: 10px;
}

div.container > div
{
    flex: 1 1 5em;
    // margin-left: 10px;
    height:50px;
}

.toolbar-comment{
    margin-top: 16px;
}

.comment{
    height: 10px;
}