<div *ngIf="!isError">
  <md-card class="app-card card-basic card-table">
    <md-toolbar color="primary">Tickets

      <span class="app-toolbar-filler"></span>
      <a md-icon-button [class.m2app-dark]="isDarkTheme">
        <md-icon class="md-12">refresh</md-icon>
      </a>
    </md-toolbar>
    <md-card-content>
      <div>
        <!--<ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        (page)='onPage($event)'>
        <ngx-datatable-column name="id" [width]="140"></ngx-datatable-column>
        <ngx-datatable-column name="lastUpdatedDate"></ngx-datatable-column>
        <ngx-datatable-column name="description" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="reportedUserName" ></ngx-datatable-column>
        <ngx-datatable-column name="assignedUserName" ></ngx-datatable-column>
      </ngx-datatable>
-->


        <ngx-datatable class="material" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" 
          [rows]="rows" [externalPaging]="true" [externalSorting]="true" [loadingIndicator]="loading"
          [count]="count" [offset]="offset" [limit]="limit" (page)='onPage($event)' (sort)="onSort($event)" 
          [selected]="selected"
          [selectionType]="'single'"
          (activate)="onActivate($event)"
          (select)='onSelect($event)'>
          <ngx-datatable-column name="ID" [flexGrow]="1">
            <template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="lastUpdatedDate" [flexGrow]="1">
            <template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Description" [flexGrow]="3">
            <template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value}}
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="reportedUserName" [flexGrow]="1">
            <template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="assignedUserName" [flexGrow]="1">
            <template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </template>
          </ngx-datatable-column>
        </ngx-datatable>


        <!--<ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="50"
        [scrollbarV]="true"
        [scrollbarH]="true">
        <ngx-datatable-column name="id" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="lastUpdatedDate"></ngx-datatable-column>
        <ngx-datatable-column name="description"></ngx-datatable-column>
        <ngx-datatable-column name="reportedUserName" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="assignedUserName" [width]="300" ></ngx-datatable-column>
      </ngx-datatable>-->
      </div>


    </md-card-content>
    <md-card-footer>
      <md-progress-bar mode="indeterminate" *ngIf="isReportedTicketsLoading"></md-progress-bar>
    </md-card-footer>
  </md-card>
</div>