<!--<md-card class="app-input-section">

  <md-list>
  <md-input placeholder="Category Name"></md-input>
  </md-list>
  <md-list>
  <md-input #nickname placeholder="Nickname" maxlength="50">
    <md-hint align="end">
      {{nickname.characterCount}} / 50
    </md-hint>
  </md-input>
  </md-list>
  <md-list>
  <md-input>
    <md-placeholder>
      <i class="material-icons app-input-icon">android</i> Favorite phone
    </md-placeholder>
  </md-input>
  </md-list>
  <md-list>
  <md-input placeholder="Motorcycle model">
    <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
  </md-input>
  </md-list>
</md-card>-->

<md-card class="app-card card-basic">
  <md-toolbar color="primary">Category</md-toolbar>
  <md-card-content>
    <form>
      <md-input class="control-full-width" placeholder="Company (disabled)" disabled value="Google">
      </md-input>

      <table style="width: 100%" cellspacing="0"><tr>
        <td><md-input placeholder="First name" style="width: 100%"></md-input></td>
        <td><md-input placeholder="Long Last Name That Will Be Truncated" style="width: 100%"></md-input></td>
      </tr></table>
      <p>
        <md-textarea class="control-full-width" placeholder="Address" value="1600 Amphitheatre Pkway"></md-textarea>
        <md-textarea class="control-full-width" placeholder="Address 2"></md-textarea>
      </p>
      <table style="width: 100%" cellspacing="0"><tr>
        <td><md-input class="control-full-width" placeholder="City" value="Mountain View"></md-input></td>
        <td><md-input class="control-full-width" placeholder="State" maxlength="2" value="CA"></md-input></td>
        <td><md-input #postalCode class="control-full-width" maxlength="5"
                      placeholder="Postal Code"
                      value="94043">
          <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
        </md-input></td>
      </tr></table>
    </form>
  </md-card-content>
</md-card>


<div style="height: 10px">This div is for testing scrolled selects.</div>
<button md-button (click)="showSelect=!showSelect">SHOW SELECT</button>
<div class="demo-select">
  <div *ngIf="showSelect">
    <md-card>
      <md-select placeholder="Food i would like to eat" [formControl]="foodControl">
        <md-option *ngFor="let food of foods" [value]="food.value"> {{ food.viewValue }} </md-option>
      </md-select>
      <p> Value: {{ foodControl.value }} </p>
      <p> Touched: {{ foodControl.touched }} </p>
      <p> Dirty: {{ foodControl.dirty }} </p>
      <p> Status: {{ foodControl.status }} </p>
      <button md-button (click)="foodControl.setValue('pizza-1')">SET VALUE</button>
      <button md-button (click)="toggleDisabled()">TOGGLE DISABLED</button>
      <button md-button (click)="foodControl.reset()">RESET</button>
    </md-card>
  </div>


  <md-card>
    <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="isRequired" [disabled]="isDisabled"
      #drinkControl="ngModel">
      <md-option *ngFor="let drink of drinks" [value]="drink.id" [disabled]="drink.disabled">
        {{ drink.name }}
      </md-option>
    </md-select>
    <p> Value: {{ currentDrink }} </p>
    <p> Touched: {{ drinkControl.touched }} </p>
    <p> Dirty: {{ drinkControl.dirty }} </p>
    <p> Status: {{ drinkControl.control?.status }} </p>
    <button md-button (click)="currentDrink='sprite-1'">SET VALUE</button>
    <button md-button (click)="isRequired=!isRequired">TOGGLE REQUIRED</button>
    <button md-button (click)="isDisabled=!isDisabled">TOGGLE DISABLED</button>
    <button md-button (click)="drinkControl.reset()">RESET</button>
  </md-card>

</div>
<div style="height: 500px">This div is for testing scrolled selects.</div>
