<div class="demo" *ngIf="LoggedInState | async">

  <md-card class="demo-card demo-basic">
    <md-toolbar color="primary">My Tickets</md-toolbar>
    <md-card-content>
        <md-nav-list>
          <a md-list-item *ngFor="let ticket of myTickets" href="ticket?Id={{ ticket.Id }}">
            <md-icon md-list-icon>folder</md-icon>
            <span md-line>{{ ticket.subject }}</span>
            <span md-line class="demo-secondary-text"> {{ ticket.message }} </span>
          </a>
        </md-nav-list>
    </md-card-content>
  </md-card>

  <md-card class="demo-card demo-basic">
    <md-toolbar color="primary">Assigned Tickets</md-toolbar>
    <md-card-content>
      <md-nav-list>
        <a md-list-item *ngFor="let ticket of assignedTickets" href="ticket?Id={{ ticket.Id }}">
          <md-icon md-list-icon>folder</md-icon>
          <span md-line>{{ ticket.subject }}</span>
          <span md-line class="demo-secondary-text"> {{ ticket.message }} </span>
        </a>
      </md-nav-list>
    </md-card-content>
  </md-card>

</div>


<md-card class="demo-card demo-basic" *ngIf="LoggedInState | async">
  <md-toolbar color="primary">Login Parameters</md-toolbar>
  <md-card-content>
    <p>UserName:<b>{{ currentUser?.user.userName}}</b></p>
    <p>FullName:<b>{{ currentUser?.user.fullName}}</b></p>
  </md-card-content>
</md-card>


<md-card class="demo-card demo-basic" *ngIf="LoggedInErrorState | async">
  <md-toolbar color="primary">Authorization</md-toolbar>
  <md-card-content>
    <p>Your are not authrized to use the Ticket System.Please contact helpdesk.</p>
  </md-card-content>
</md-card>
{{LoggedInState | async}}
{{LoggedInErrorState | async}}