<div fxLayout="row" fxLayoutAlign="space-around center">
    <md-card class="app-card card-basic card-login">
        <md-toolbar color="primary">Login</md-toolbar>
        <md-card-content>
            <form [formGroup]="loginForm" novalidate>
                <md-input class="demo-full-width" formControlName="userName" placeholder="Username" dividerColor="{{ !loginForm.get('userName').valid ? 'warn' : 'primary' }}">

                    <md-hint *ngIf="displayMessage.userName" [ngStyle]="{'color': 'red'}" align="start">{{displayMessage.userName}}</md-hint>
                </md-input> <br/>
                <md-input class="demo-full-width" type="password" formControlName="password" id="password" placeholder="Password" dividerColor="{{ !loginForm.get('password').valid ? 'warn' : 'primary' }}">
                    <md-hint *ngIf="displayMessage.password" [ngStyle]="{'color': 'red'}" align="start">{{displayMessage.password}}</md-hint>
                </md-input><br/>
                <div id="login" fxLayoutAlign="end">
                    <button md-raised-button color="primary" (click)="login()" [disabled]='!loginForm.valid || isProcessing'>Login</button>
                </div>
            </form>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </md-card-content>
        <md-card-footer>
            <md-progress-bar mode="indeterminate" *ngIf="isProcessing"></md-progress-bar>
        </md-card-footer>
    </md-card>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <message-card [data]="message" *ngIf="isError"></message-card>
</div>