<md-card>
       <h2 md-line>About page</h2>
       <p>Ticket System</p>
      <h2 md-line>Source code on Github</h2>
      <p>
        This app is built throughout a series of screencasts, 
        source code can be found at 
        <a href="https://github.com/ranjitjc/ticket-system/" target="_blank">
          https://github.com/ticketsystem/
        </a>	
      </p>
      <h2 md-line>Contributors</h2>
      <md-nav-list>
      <a md-list-item>
        <md-icon md-list-icon>person</md-icon>
        <span md-line>Ranjit Jeyachandran</span>
        <span md-line class="desc">Developer</span>
      </a>
      <a md-list-item>
        <md-icon md-list-icon>person</md-icon>
        <span md-line>Franklin</span>
        <span md-line class="desc">Developer</span>
      </a>
       <a md-list-item>
        <md-icon md-list-icon>person</md-icon>
        <span md-line>Sridhar Middela</span>
        <span md-line class="desc">Developer</span>
      </a>
    </md-nav-list>
 
    </md-card>
